<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Post</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h1>Create New Post</h1>
    <form method="post" th:object="${post}">
        <label>Title: <input type="text" th:field="*{title}"/></label><br/>
        <label>Content: <textarea th:field="*{content}"></textarea></label><br/>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
